In [4]:
import pandas as pd #Cargaremos pandas para manejar los datos",
import numpy as np #Cargaremos numpy para manejar los datos,
import json as json  #Cargaremos json para manejar los datos",
import gzip #Cargaremos gzip para manejar los datos,
import ast
import matplotlib.pyplot as plt  #Cargaremos matplotlib para graficar",
import seaborn as sns  #Cargaremos seaborn para graficar",
from sklearn.model_selection import train_test_split  #Cargaremos train_test_split para dividir los datos",
from sklearn.linear_model import LinearRegression  #Cargaremos LinearRegression para entrenar el modelo",
from sklearn.metrics import mean_squared_error, r2_score  #Cargaremos mean_squared_error y r2_score para evaluar el modelo"

In [5]:
url03=r'C:\Users\alist\Desktop\Alister\2023\Henry\Course\PI-01.MLOps\Datos\users_items.json.gz'

In [6]:
filas=[]
with gzip.open(url03) as file:
    for line in file.readlines():
        line = line.decode('utf-8')
        filas.append(ast.literal_eval(line))

df_user_items = pd.DataFrame(filas)
df_user_items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [7]:
def check_df(dataset, head = 5):
    """
    Funcion creada para tener una vista general de la base de datos
    """
    print('*'*30 + 'Forma de la base de datos' + '*'*30, end = '\n'*2)
    print(dataset.shape, end = '\n'*2)#TamanÌƒo de la base de datos

    print('*'*30 + 'Informacion general de la base de datos' + '*'*30, end = '\n'*2)
    print(dataset.info(), end = '\n'*2)# Informacion general

    print('*'*30 + 'Mostrar las primeras 5 filas' + '*'*30, end = '\n'*2)
    print(dataset.head(), end = '\n'*2)# Mostrar las primeras 5 filas

    print('*'*30 + 'NaN cantidad de nulos' + '*'*30, end = '\n'*2)
    print(dataset.isnull().sum(), end = '\n'*2)#Cuenta la cantidad de NaN por columna

In [8]:
check_df(df_user_items)

******************************Forma de la base de datos******************************

(88310, 5)

******************************Informacion general de la base de datos******************************

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB
None

******************************Mostrar las primeras 5 filas******************************

             user_id  items_count           steam_id
0  76561197970982479          277  76561197970982479  \
1            js41637          888  76561198035864385
2          evcentric          137  76561198007712555
3         Riot-Punch          328  76561197963445855
4              doctr          541  76561198002099482

                                            user_url
0  http://steamcommunity.com/profiles/76561197970...  \
1               http://steamcommunity.com/id/js41637
2             http://steamcommunity.com/id/evcentric
3            http://steamcommunity.com/id/Riot-Punch
4                 http://steamcommunity.com/id/doctr

                                               items
0  [{'item_id': '10', 'item_name': 'Counter-Strik...
1  [{'item_id': '10', 'item_name': 'Counter-Strik...
2  [{'item_id': '1200', 'item_name': 'Red Orchest...
3  [{'item_id': '10', 'item_name': 'Counter-Strik...
4  [{'item_id': '300', 'item_name': 'Day of Defea...

******************************NaN cantidad de nulos******************************

user_id        0
items_count    0
steam_id       0
user_url       0
items          0
dtype: int64

In [10]:
df_user_items2=df_user_items.explode('items')

In [12]:
df_user_items2

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN

In [19]:
df_user_items2.isnull().sum()

user_id            0
items_count        0
steam_id           0
user_url           0
items          16806
dtype: int64

In [21]:
df_user_items2.isnull()

       user_id  items_count  steam_id  user_url  items
0        False        False     False     False  False
0        False        False     False     False  False
0        False        False     False     False  False
0        False        False     False     False  False
0        False        False     False     False  False
...        ...          ...       ...       ...    ...
88308    False        False     False     False  False
88308    False        False     False     False  False
88308    False        False     False     False  False
88308    False        False     False     False  False
88309    False        False     False     False   True

[5170015 rows x 5 columns]

In [22]:
df_user_items2[df_user_items2['items'].isnull()]

,user_id,items_count,steam_id,user_url,items
9,Wackky,0,76561198039117046,http://steamcommunity.com/id/Wackky,NaN
11,76561198079601835,0,76561198079601835,http://steamcommunity.com/profiles/76561198079...,NaN
31,hellom8o,0,76561198117222320,http://steamcommunity.com/id/hellom8o,NaN
38,starkillershadow553,0,76561198059648579,http://steamcommunity.com/id/starkillershadow553,NaN
54,darkenkane,0,76561198058876001,http://steamcommunity.com/id/darkenkane,NaN
...,...,...,...,...,...
88298,76561198316380182,0,76561198316380182,http://steamcommunity.com/profiles/76561198316...,NaN
88299,76561198316970597,0,76561198316970597,http://steamcommunity.com/profiles/76561198316...,NaN
88300,76561198318100691,0,76561198318100691,http://steamcommunity.com/profiles/76561198318...,NaN
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,NaN
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN

In [25]:
df_user_items2.dropna(subset=['items'],inplace=True)

In [42]:
df_user_items2

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '346330', 'item_name': 'BrainBread..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes..."

In [ ]:
for elemento,diccionario in df_user_items2['items'].items():
    df=pd.DataFrame(columns=diccionario.keys())
df

In [ ]:
new_rows = []

# Iterate over the dictionaries in the 'reviews' column
for elemento, diccionario in df_user_items2['items'].items():
    new_row = pd.DataFrame(diccionario, index=[elemento])  # Create a new row DataFrame
    new_rows.append(new_row)  # Append the new row to the list

# Concatenate the list of new rows with the original DataFrame
result_df = pd.concat([df, *new_rows])

# Reset index
df_user_items3=prueba.join(result_df)

In [ ]:
df_user_items3.drop_duplicates(subset=['user_id','item_name'])

In [44]:
prueba=df_user_items2.head()
prueba

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."

In [45]:
for elemento,diccionario in prueba['items'].items():
    df=pd.DataFrame(columns=diccionario.keys())
df

Empty DataFrame
Columns: [item_id, item_name, playtime_forever, playtime_2weeks]
Index: []

In [37]:
new_rows = []

# Iterate over the dictionaries in the 'reviews' column
for elemento, diccionario in prueba['items'].items():
    new_row = pd.DataFrame(diccionario, index=[elemento])  # Create a new row DataFrame
    new_rows.append(new_row)  # Append the new row to the list

# Concatenate the list of new rows with the original DataFrame
result_df = pd.concat([df, *new_rows])

# Reset index
prueba2=prueba.join(result_df)
prueba2

,user_id,items_count,steam_id,user_url,items,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike...",10,Counter-Strike,6,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike...",20,Team Fortress Classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike...",30,Day of Defeat,7,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike...",40,Deathmatch Classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike...",50,Half-Life: Opposing Force,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ...",10,Counter-Strike,6,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ...",20,Team Fortress Classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ...",30,Day of Defeat,7,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ...",40,Deathmatch Classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ...",50,Half-Life: Opposing Force,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'...",10,Counter-Strike,6,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'...",20,Team Fortress Classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'...",30,Day of Defeat,7,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'...",40,Deathmatch Classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'...",50,Half-Life: Opposing Force,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",10,Counter-Strike,6,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",20,Team Fortress Classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",30,Day of Defeat,7,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",40,Deathmatch Classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",50,Half-Life: Opposing Force,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",10,Counter-Strike,6,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",20,Team Fortress Classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",30,Day of Defeat,7,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",40,Deathmatch Classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",50,Half-Life: Opposing Force,0,0

In [41]:
prueba2.drop_duplicates(subset=['user_id','item_name']).shape

(5, 9)